# Ignore the raw_data directory, which contains large CSV files of historical data that we don't want to track in version control.
.raw_data/**
*/raw_data/**
*/processed_data/**
*.csv
#防止api泄露
roostoo.yaml

__pycache__

.vscode/**