# Data Processing & Computation
pandas>=2.0.0
numpy>=1.24.0
python-binance>=1.0.35


#config
PyYAML>=6.0.0
python-dotenv>=1.0.0   # Added for .env management
requests>=2.31.0       # Added for API communication


# Machine Learning & Evaluation
scikit-learn>=1.2.0
xgboost>=2.0.0 #version changed
lightgbm>=3.3.0

# Data Visualization
matplotlib>=3.7.0
streamlit>=1.22.0

#PPO
stable-baselines3>=2.0.0
gymnasium>=1.0.0
tensorboard>=2.12.0
